<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <application
      android:allowBackup="true"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="@xml/backup_rules"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/Theme.GLIAcademySampleProject"
      tools:targetApi="31">

    <activity android:name=".intent.AActivity"
        android:exported="true"
        android:label="A Activity"
        android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".activity_result.InputActivity" />
    <activity android:name=".intent.BActivity"
        android:label="B Activity"/>
    <activity android:name=".intent.CActivity"
        android:label="C Activity"/>
    <activity android:name=".intent.DActivity"
        android:label="D Activity"/>
  </application>

</manifest>